{% extends "profile.html" %}

{% block form_edit_profile %}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border mt-3 p-4" enctype="multipart/form-data">
                    {{ form.csrf_token }} 
                    <legend>Edit Profile</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in form.username.errors %}
                                        {{ err }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for err in form.email.errors %}
                                        {{ err }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group mt-2">
                            {{ form.profile_img.label }}
                            {{ form.profile_img(class="form-control-file") }}
                            {% if form.profile_img.errors %}
                                {% for err in form.profile_img.errors %}
                                    <span class="text-danger">{{ err }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr>
                        <p>Cursos</p>
                        {% for item in form %}
                            {% if "course_" in item.name %}
                                <div class="form-group">
                                    {{ item(class="form-check-input mt-2") }}
                                    {{ item.label(class="mt-1") }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    {{ form.btn_submit_edit_profile(class="btn btn-primary mt-2") }}
                </form>
            </div>
    </div>
{% endblock %}