{% extends "base.html" %}
{% block body %}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border mt-3 p-4">
                    {{ form_login.csrf_token }} 
                    <legend>Entrar</legend>
                    <fieldset>
                        <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {% if form_login.email.errors %}
                            {{ form_login.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_login.email.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_login.email(class="form-control") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {{ form_login.password.label(class="form-control-label") }}
                        {% if form_login.password.errors %}
                            {{ form_login.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_login.password.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_login.password(class="form-control") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {{ form_login.keep_logged_in.label(class="mt-1") }}
                        {{ form_login.keep_logged_in(class="form-check-input mt-2") }}
                        </div>
                    </fieldset>
                    {{ form_login.btn_submit_login(class="btn btn-primary mt-2") }}
                </form>
            </div>
            <div class="col">
                <form method="POST" action="" class="border mt-3 p-4">
                    {{ form_create_account.csrf_token }}
                    <legend>Criar Conta</legend>
                    <fieldset>
                        <div class="form-group">
                        {{ form_create_account.username.label(class="form-control-label") }}
                        {% if form_create_account.username.errors %}
                            {{ form_create_account.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_create_account.username.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_create_account.username(class="form-control") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {{ form_create_account.email.label(class="form-control-label") }}
                        {% if form_create_account.email.errors %}
                            {{ form_create_account.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_create_account.email.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_create_account.email(class="form-control") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {{ form_create_account.password.label(class="form-control-label") }}
                        {% if form_create_account.password.errors %}
                            {{ form_create_account.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_create_account.password.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_create_account.password(class="form-control") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                        {{ form_create_account.confirm_pwd.label(class="form-control-label") }}
                        {% if form_create_account.confirm_pwd.errors %}
                            {{ form_create_account.confirm_pwd(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for err in form_create_account.confirm_pwd.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_create_account.confirm_pwd(class="form-control") }}
                        {% endif %}
                        </div>
                    </fieldset>
                    {{ form_create_account.btn_submit_create_account(class="btn btn-primary mt-2") }}
                </form>
            </div>
    </div>
{% endblock %}