{% extends "base.html" %}
{% block body %}
    <div class="container mt-3">
        <div class="row boder mt-4 p-3 mypost rounded">
            <div class="col-2">
                <div class="image pe-2 mt-2"> <img src="{{ url_for('static', filename='profile_imgs/{}'.format(post.author.profile_img)) }}" class="rounded" width="145"> </div>
                <strong>{{ post.author.username }}</strong>
                <div class="row justify-content-center">
                    {% if post.author.cursos and 'Não informado' not in post.author.cursos%}
                        {% for course in post.author.cursos.split(';') %}
                            <button type="button" class="btn btn-success mt-2" disabled>{{ course }}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                <h3>{{ post.title }}
                    <small class="text-muted" style="font-size: 15px"> - Data de criação: {{ post.created_at.strftime('%d/%m/%Y - %H:%M') }}
                        {% if form %}
                        - <a href="#form_edit_post">Editar Post</a> / <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#ExcludePost">Excluir Post</a>
                        {% endif %}
                    </small>
                </h3>
                <p>{{ post.body }}</p>
            </div>
        </div>
    </div>
    {% if form %}
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <form method="POST" action="" id="form_edit_post" class="border mt-3 p-4">
                        {{ form.csrf_token }} 
                        <legend>Editar Post</legend>
                        <fieldset>
                            <div class="form-group">
                                {{ form.title.label(class="form-control-label") }}
                                {% if form.title.errors %}
                                    {{ form.title(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.title.errors %}
                                            {{ err }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.title(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.body.label(class="form-control-label") }}
                                {% if form.body.errors %}
                                    {{ form.body(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for err in form.body.errors %}
                                            {{ err }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.body(class="form-control") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        {{ form.btn_submit_edit_post(class="btn btn-primary mt-2") }}
                    </form>
                </div>
        </div>
    {% endif %}

<!-- Modal -->
<div class="modal fade" id="ExcludePost" tabindex="-1" aria-labelledby="ExcludePostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ExcludePostLabel">Excluir Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o Post?<br>
        Esta ação não pode ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
            <button type="submit" class="btn btn-outline-danger">Excluir Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}